<%= form_for(@media_item) do |f| %>
  <% if @media_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_item.errors.count, "error") %> prohibited this media_item from being saved:</h2>

      <ul>
      <% @media_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :media_item_id %><br>
    <%= f.text_field :media_item_id %>
  </div>
  <div class="field">
    <%= f.label :s3_input_key %><br>
    <%= f.text_field :s3_input_key %>
  </div>
  <div class="field">
    <%= f.label :s3_output_key %><br>
    <%= f.text_field :s3_output_key %>
  </div>
  <div class="field">
    <%= f.label :cloudfront_url %><br>
    <%= f.text_field :cloudfront_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
