<p id="notice"><%= notice %></p>

<p>
  <strong>Media item:</strong>
  <%= @media_item.media_item_id %>
</p>

<p>
  <strong>S3 input key:</strong>
  <%= @media_item.s3_input_key %>
</p>

<p>
  <strong>S3 output key:</strong>
  <%= @media_item.s3_output_key %>
</p>

<p>
  <strong>Cloudfront url:</strong>
  <%= @media_item.cloudfront_url %>
</p>

<%= link_to 'Edit', edit_media_item_path(@media_item) %> |
<%= link_to 'Back', media_items_path %>
