<p id="notice"><%= notice %></p>

<h1>Listing Encoding Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Preset</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encoding_profiles.each do |encoding_profile| %>
      <tr>
        <td><%= encoding_profile.preset_id %></td>
        <td><%= encoding_profile.name %></td>
        <td><%= encoding_profile.description %></td>
        <td><%= link_to 'Show', encoding_profile %></td>
        <td><%= link_to 'Edit', edit_encoding_profile_path(encoding_profile) %></td>
        <td><%= link_to 'Destroy', encoding_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encoding profile', new_encoding_profile_path %>
